.git
.gitignore
.next
node_modules
npm-debug.log
README.md
.env*
Dockerfile*
frontend
backend
src
!.dockerignore
!package.json
!package-lock.json
!next.config.ts
!tsconfig.json
!postcss.config.mjs
!eslint.config.mjs
!components.json
!public
!frontend/**
!backend/**
!src/**
